@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.section1{
    width: 100%;
    min-height: 650px;
    background-color: #1F2937;
}

.section1 header{
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}

header .logo a{
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

header .navbar a{
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin: 2px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.2s;
    transition-property: background-color;
}

header .navbar a:hover{
    background: grey;
}

.section1 .content{
    max-width: 450px;
    margin: 60px 100px;
}

.content .judul{
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
}

.content .isi{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #E5E7EB;
    font-size: 18px;
}

.content .signup button{
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
}

.signup button a{
    font-weight: 700;
    color: #F9FAF8;
    font-family: Roboto;
    text-decoration: none;
}

.signup button:hover{
    background: grey;
}

.imgright img{
    float: right;
    display: flex;
    justify-content: center;
    margin-top: -315px;
    margin-right: 105px;
    width: 500px;
    height: auto;
}

.section2{
    width: 100%;
    background-color: #F9FAF8;
    min-height: 400px;  
}

.section2 .judul2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 40px;
}

.section2 .container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.container .info{
    text-align: center;
    max-width: 200px;
}

.info img{
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.section3{
    width: 100%;
    background-color: #E7E7EB;
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.quotes .quotetext{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    max-width: 845px;
}

.section3 .quoter{
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #1F2937;
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-top: 10px;
}

.section4{
    width: 100%;
    background-color: #F9FAF8;
    min-height: 250px;  
}

.section4 .modals{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.section4 .modal{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 800px;
    height: 200x;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.section4 .container{
    margin: 20px 75px;
}

.container .header{
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.signup2 button{
    width: 100px;
    height: 30px;
    margin: 25px 0px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
}

.signup2 button a{
    font-weight: 700;
    color: #F9FAF8;
    font-family: Roboto;
    text-decoration: none;
}

.signup2 button:hover{
    background: grey;
}

.section5{
    width: 100%;
    background-color: #1F2937;
    min-height: 50px;  
}

.section5 .text{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.section5 .text a{
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #F9FAF8;
}