@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
  margin: 0;
  background: red;
  font-family: Sixtyfour;
}

.header {
  background: black;
  
  -webkit-box-shadow: 0 10px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5 px 1px rgba(0,0,0,0.75);
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo img{
  height: 50px;
  width: auto;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}

/* SOLUTION */

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}